<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<style>
			.dropColor {
				color: red;
			}
		</style>
	</head>
	<body>
		<div ng-app="myProduct">
			<div ng-controller="productController" class="container">
				<form class="navbar-form navbar-left">
					<div class="form-group">
					  <input type="text" class="form-control" placeholder="Search" ng-model="search.id">
					</div>
				</form>
				<table class="table">
					<thead>
					<tr style="cursor: pointer;">
						<th ng-click="changeOrder('id')" ng-class="{dropup:order === ''}">
							产品编号
							<span ng-class="{dropColor:orderType === 'id'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('name')" ng-class="{dropup:order === ''}">
							产品名字
							<span ng-class="{dropColor:orderType === 'name'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('price')" ng-class="{dropup:order === ''}">
							产品价格
							<span ng-class="{dropColor:orderType === 'price'}" class="caret"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in productData | filter:search | orderBy:order+orderType">
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.price | currency:'￥'}}</td>
					</tr>
				</tbody>
				</table>
			</div>
			
		</div>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/productList.js"></script>
	</body>
</html>
