<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta />
		<title>自定义指令link与compile</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		<div ng-app="myApp">
			<form action="#" name="myForm" class="form-horizontal container"  ng-controller='firstController'>
				<div class="form-group" ng-class="{'has-error':myForm.username.$dirty && myForm.username.$invalid}">
					<label class="col-sm-2 control-label">用户名</label>					
					<div class="col-sm-10">
						<input type="text" autocomplete="off" name="username" ng-pattern='/^[a-zA-Z]{1}/' ng-model='data.username' ng-required='true' ng-minlength='5' ng-maxlength='10' class="form-control" placeholder="输入用户名" />
						<div ng-show="myForm.username.$dirty && myForm.username.$error.maxlength" class="alert alert-danger help-block">
							用户名长度不能超过10位
						</div>
						<div ng-show="myForm.username.$dirty && myForm.username.$error.minlength" class="alert alert-danger help-block">
							用户名长度不能小于5位
						</div>
						<div ng-show='myForm.username.$dirty && myForm.username.$error.pattern' class="alert alert-danger help-block">
							用户名必须以英文开头
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error':myForm.password.$dirty && myForm.password.$invalid}">
					<label class="col-sm-2 control-label">密码</label>					
					<div class="col-sm-10">
						<input type="password" autocomplete="pff" name="password" ng-model='data.password' ng-required='true' ng-minlength='5' ng-maxlength='10' class="form-control" placeholder="输入密码" />
						<div ng-show='myForm.password.$dirty &&  myForm.password.$error.maxlength' class="alert alert-danger help-block">
							密码长度不能超过10位
						</div>
						<div ng-show='myForm.password.$dirty &&  myForm.password.$error.minlength' class="alert alert-danger help-block">
							密码长度不能小于5位
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error':myForm.passwordConfirm.$dirty && myForm.passwordConfirm.$invalid}">
					<label class="col-sm-2 control-label">确认密码</label>					
					<div class="col-sm-10">
						<input type="password" autocomplete="pff" name="passwordConfirm" ng-model='data.passwordConfirm' ng-required='true' class="form-control" placeholder="确认密码" />
						<div ng-show='data.password !== data.passwordConfirm && myForm.passwordConfirm.$dirty && myForm.password.$dirty ' class="alert alert-danger help-block">
							密码输入不一致
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error':myForm.email.$dirty && myForm.email.$invalid}">
					<label class="col-sm-2 control-label">邮箱</label>					
					<div class="col-sm-10">
						<input type="email" autocomplete="pff" name="email" ng-model='data.email' ng-maxlength='30' ng-minlength='5' ng-required='true' class="form-control" placeholder="输入邮箱" />
						<div ng-show='myForm.email.$dirty && myForm.email.$error.email ' class="alert alert-danger help-block">
							邮箱格式错误
						</div>
						<div ng-show='myForm.email.$dirty && myForm.email.$error.maxlength' class="alert alert-danger help-block">
							邮箱长度不能超过30位
						</div> 
						<div ng-show='myForm.email.$dirty && myForm.email.$error.minlength' class="alert alert-danger help-block">
							邮箱长度不能小于5位
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error':myForm.blog.$dirty && myForm.blog.$invalid}">
					<label class="col-sm-2 control-label">博客</label>					
					<div class="col-sm-10">
						<input type="url" autocomplete="pff" name="blog" ng-model='data.blog' ng-maxlength='30' ng-minlength='5' ng-required='true' class="form-control" placeholder="输入网址" />
						<div ng-show='myForm.blog.$dirty && myForm.blog.$error.url ' class="alert alert-danger help-block">
							网页格式错误
						</div>
						<div ng-show='myForm.blog.$dirty && myForm.blog.$error.maxlength' class="alert alert-danger help-block">
							网页长度不能超过30位
						</div> 
						<div ng-show='myForm.blog.$dirty && myForm.blog.$error.minlength' class="alert alert-danger help-block">
							网页长度不能小于5位
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">性别</label>
					<div class="col-sm-10">
						<label class="radio-inline">
							<input type="radio" ng-required="true" name="sex" ng-model='data.sex' value="1" />男
						</label>
						<label class="radio-inline">
							<input type="radio" ng-required="true" name="sex" ng-model='data.sex' value="0" />女
						</label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">爱好</label>
					<div class="col-sm-10">
						<label  ng-repeat='hobby in hobbies' class="checkbox-inline">
							<input ng-click='toggleHobbySelction(hobby.id)' type="checkbox" ng-checked="data.hobbyEle===undefined?false:data.hobbyEle.indexOf(hobby.id) !== -1" name="hobby[]" value="{{hobby.id}}" />{{hobby.name}}
						</label>
					</div>
				</div>	
				<div class="form-group" >
					<label class="col-sm-2 control-label">出生地</label>
					<div class="col-sm-3">
						<select class="form-control" ng-model="data.province" ng-options="x.id as x.name for x in cities | cityFilter:0"></select>
					</div>
					<div class="col-sm-3" ng-show="data.province">
						<select class="form-control" ng-model="data.city" ng-options="x.id as x.name for x in cities | cityFilter:data.province"></select>
					</div>
					<div class="col-sm-3" ng-show="data.province && data.city">
						<select ng-required="true" class="form-control" ng-model="data.area" ng-options="x.id as x.name for x in cities | cityFilter:data.city"></select>
					</div>	
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid || data.hobbyEle === undefined || data.hobbyEle.length ===0">注册</button>
						<button type="reset" ng-click="reset()">重置</button>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						<text-change ng-model="data.introdcue"></text-change>
						<text-change ng-model="data.introdcue"></text-change>
					</div>
				</div>
			</form>
		</div>	
	</body>
</html>
